<a href="https://colab.research.google.com/github/WillianItalo/Analise_de_Dados/blob/main/EBAC_Modulo_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Hello World!

In [ ]:
print("Hello World")

**Caderno** (notebooks)

  Um **caderno** é um documento web composto por um conjunto de elementos (células) de texto e código:


*   Células de **texto** podem ser editados com o editor de ferramenta HTML ou Markdown;
*   Células de **código** são exclusivamente para a linguagem de programação Python.

# **2. Variáveis**

### **2.1 Definição**

Mecanismo de armazenamento volátil de dados, ou seja, dados salvos em pedacinhos da memória RAM do sistema computacional em uso (notebook, mobile, console de vídeo fame, smartwatch, etc.).

In [ ]:
minha_primeira_variavel = "olá, mundo!"
print(minha_primeira_variavel)

In [ ]:
idade = 30
print(idade)

idade = 27
print(idade)

nome = "André"
print(nome)

### **2.2 Tipos nativos**

**Tipos de numéricos:** Inteiros(int) e decimais(float):

In [ ]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

juros = 0.05
tipo_juros = type(juros)

print(juros)
print(tipo_juros)

**Tipo de texto:** strings(str):

In [ ]:
primeiro_nome = "André"
print(type(primeiro_nome))

pais = "Brasil"
print(type(pais))

**Tipo lógicos:** booleanos (bool):

In [ ]:
usuario_maior_de_idade = False
print(type(usuario_maior_de_idade))

**Tipo vazio** (NoneType):

In [ ]:
telefone_fixo = None
print(type(telefone_fixo))

# **3. Números**

### **3.1 Motivação Tipos nativos**

Você precisa calcular o **ticket médio** diário tkt do seu restaurante. A métrica é calculada pela soma do valor das vendas svv de um mesmo dia dividido pela quantidade de vendas sqv, também de um mesmo dia.

***tkt = svv/sqv***

Esta é a sua planilha:

| Dia | Valor total Vedas | Qtd Total Vendas | Ticket Médio
    |---|---|---|---|
    | 19/01 | 153.98 | 3 | ? |
    | 20/01 | 337.01 | 7 | ? |
    | 19/01 | 295.33 | 5 | ? |

Como podemos fazer este cálculo usando Python?

In [ ]:
from datetime import datetime

print("Registro de Vendas diarias")
print(30*("-"))

svv = ()
sqv = ()
tkt = ()

svv = float(input("Digite o valor total de vendas do dia: "))
sqv = int(input("Digite a quantidade de vendas do dia: "))

tkt = svv/sqv

print("O ticket médio diário é: ", tkt)

Registro de Vendas diarias
------------------------------
Digite o valor total de vendas do dia: 153.98
Digite a quantidade de vendas do dia: 3
O ticket médio diário é:  51.32666666666666

### **3.2 Definição**

Armazenam **valores numéricos**:



*   **int** (inteiros):
*   **float** (decimais):
*   **complex** (complexos).

In [ ]:
print(type(37))
print(type(10.1))
print(type(1 + 2j))

<class 'int'>
<class 'float'>
<class 'complex'>

### **3.3 Operações**

As operações dos tipos numéricos são operações matemáticas fundamentais:

*   " + " (soma);
*   " - " (subtração);
*   " * " (multiplicação);
*   " / " (divisão).

Alémde operações mais avançadas:

*   " // " (divisão inteira);
*   " ** " (potência ou exponenciação);
*   " % "  (resto da divisão).


**Exemplo:** carrinho de compra de um e-commerce.

In [ ]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra = qtd_items_carrinho_compra +1
print(qtd_items_carrinho_compra)

qtd_items_carrinho_compra = qtd_items_carrinho_compra -1
print(qtd_items_carrinho_compra)

1
0

In [ ]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra += 1
print(qtd_items_carrinho_compra)

qtd_items_carrinho_compra += 1
print(qtd_items_carrinho_compra)

1
2

**Exemplo:** Total a pagar de um produto.

In [ ]:
preco = 47
quantidade = 0.25

total_a_pagar = quantidade * preco
print(total_a_pagar)

11.75

### **3.4 Conversão**

Podemos converter os tipos numéricos entre si utilizando o método nativo int, float e complex.

In [ ]:
print(int(3.9))

print(float(10))

print(complex(1))

3
10.0
(1+0j)

# **4. Strings**

A empresa que você trabalha adquiriu uma startup de logistica. Você precisa identificar todos os endereços que são comum a ambas. Na sua empresa, você armazena a latitude e longitude dos endereços em duas variáveis lat e lon, já startup adquirida em umaúnica variável latlon

In [ ]:
# Sua empresa
lat = "-22.0053"
lon = "-47.8910"

# Startup adquirida
latlon = "-22.0053; -47.8910"

Como podemos normalizar a forma com que as latitudes são armazenadas para possam ser comparadas?

Encontrando a posição do caracter ; de divisão das strings de latitude e longitude da variável startup:

In [ ]:
posicao_char_divisao = latlon.find(";")
print(posicao_char_divisao)

8

Extraindo a latitude:

In [ ]:
lat_startup =  latlon[0:posicao_char_divisao]
print(lat_startup)

-22.0053

Extraindo a longitude:

In [ ]:
lon_startup = latlon[posicao_char_divisao+1:len(latlon)]
print(lon_startup)

 -47.8910

### **4.2 Definição**

Armazenam **textos**:


*   c, EBAC, Andre Perez, 20 anos (texto)

São tipos str:

In [ ]:
nome_aula = "Aula 04, modulo 01, Strings"

print(nome_aula)
print(type(nome_aula))

Aula 04, modulo 01, Strings
<class 'str'>

In [ ]:
string_vazia = ""

print(string_vazia)
print(type(string_vazia))

<class 'str'>

### **4.3 Operações**

As operações de variaáveis dp tipo string são:


*   " + "  (concatenação)

**Exemplo:** Nome completo.

In [ ]:
nome = "Andre Marcos"
sobrenome = "Perez"

apresentacao = "Olá, meu nome é " + nome +" "+ sobrenome + "."
print(apresentacao)

Olá, meu nome é Andre Marcos Perez.

Uma outra forma de concatenar string é utilizar operações de formatação.

In [ ]:
nome = "Andre Marcos"
sobrenome = "Perez"

apresentacao = f"Olá, meu nome é {nome} {sobrenome}."
print(apresentacao)

Olá, meu nome é Andre Marcos Perez.

Outra operação muito utilizada é a de fatiament (slicing):

**Exemplo:** informação de e-mail.

In [ ]:
email = "andre.perez@gmail.com"

Fatiamento fixo:


**a n d r e . p e r e z @ g m a i l . c o m**


---



0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
print("0: " + email[0])
print("11: " + email[11])

0: a
11: @

In [ ]:
print("-1: " + email[-1])
print("-2: " + email[-2])

-1: m
-2: o

Fatiamento por intervalo:


**a n d r e . p e r e z @ g m a i l . c o m**


---



0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
email_usuario = email[0:11]
print(email_usuario)

andre.perez

In [ ]:
email_provedor = email[12:21]
print(email_provedor)

gmail.com

### **4.4 Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com stings:

In [ ]:
endereco = "Avenida Paulista, 1811, São Paulo, São Paulo, Brasil."

In [ ]:
# maisculo: string.upper()
print(endereco.upper())

AVENIDA PAULISTA, 1811, SÃO PAULO, SÃO PAULO, BRASIL.

In [ ]:
# posição: string.find(substring)
posicao = endereco.find("Brasil")
print(posicao)

46

In [ ]:
# substituição: string.replace(antigo, novo)
print(endereco.replace("Avenida","Av"))

Av Paulista, 1811, São Paulo, São Paulo, Brasil.

### **4.5 Conversão**

Podemos converter strings em tipos númericos e vice-versa.

In [ ]:
idade = 19
print(type(idade))

idade = str(idade)
print(type(idade))

<class 'int'>
<class 'str'>

In [ ]:
faturamento = "R$ 35 mi"
print(faturamento)
print(type(faturamento))

faturamento = int(faturamento[3:5])
print(faturamento)
print(type(faturamento))

R$ 35 mi
<class 'str'>
35
<class 'int'>

# **5 Boleanos**

Em websites (redes sociais, e-commerce, corporativos, etc.) é comum o uso de sistemas de contole de acesso, o famoso login. Em geral, nestes sistemas um usuário fornece dois dados: *usuário* e *senha*:

In [ ]:
usuario = "andre.perez"
senha = "andre123"

Do lado do servidor, o backend do website tem armazenado os dados de usuário e senha fornecidas pelo usuário no momento de cadastro: usuario_cadastro e senha_cadastro

In [ ]:
usuario_cadastro = "andre.perez"
senha_cadastro = "andre321"

Como comparamos se as strings ( usuario, usuario_cadastro) e (senha, senha_cadastro) são iguais para conceder ou bloquear o acesso do usuário?

Decide se concede o acesso:

In [ ]:
usuario_validado = usuario == usuario_cadastro
print(usuario_validado)

senha_validada = senha == senha_cadastro
print(senha_validada)

if senha == senha_cadastro and usuario == usuario_cadastro:
    print("Acesso liberado")
else:
    print("Acesso bloqueado")

True
False
Acesso bloqueado

### **5.2 Definição**

Armazenam **valores lógicos:**



*   True: (verdadeiro);
*   False: (falso).

In [ ]:
verdadeiro = True
print(verdadeiro)

falso = False
print(falso)

True
False

São do tipo bool.

In [ ]:
print(type(True))

<class 'bool'>

São resultados de comparações lógicas. Os operadores de comparação lógica são:


*   " > " (maior);
*   " < " (menor);
*   " == " (igual);
*   " >= " (maior ou igual);
*   " <= " (menor ou igual);
*   " != " (diferente).

**Exemplo**: Caixa eletrônico

In [ ]:
saldo_em_conta = 200
valor_do_saque = 100

pode_executar_saque = valor_do_saque <= saldo_em_conta
print(pode_executar_saque)

True

**Exemplo**: Cartão de crédito

In [ ]:
codigo_seguranca = "852"
codigo_seguranca_cadastro = "010"

pode_efetuar_pagamento = codigo_seguranca == codigo_seguranca_cadastro
print(pode_efetuar_pagamento)

False

### **5.3 Operações**

As operações de variáveis booleanas são:



*   | (operador ou)
*   & (operador e)
*   not (operador não)

O conjunto de resultados de operações lógicas geralmente é resumido em uma chamada "tabela de verdade"


|  A  |  B  |  A OR B  |  A AND B  |  NOT A  |
|----------|----------|----------|----------|----------|
|  TRUE  |  TRUE  |  TRUE  |  TRUE  |  FALSE  |
|  TRUE  |  FALSE  |  TRUE  |  FALSE  |  FALSE  |
|  FALSE  |  FALSE  |  FALSE  |  FALSE  |  TRUE  |
|  FALSE  |  TRUE  |  TRUE  |  FALSE  |  TRUE  |

**Exemplo**: Tabela de verdade do operador | (ou).

In [ ]:
print(True | True)
print(True | False)
print(False | True)
print(False | False)

True
True
True
False

**Exemplo:** Tabela de verdade do operador & (e).

In [ ]:
print(True & True)
print(True & False)
print(False & True)
print(False & False)

True
False
False
False

**Exemplo:** Tabela de verdade do operador not (não).

In [ ]:
print(not True)
print(not False)

False
True

### **5.4 Conversão**

Podemos converter tipos númericos e strings para booleanos através do método nativo bool:

In [ ]:
idade = 19
tipo_sangue = "O-"
filhos = 0
telefone_fixo = None
telefone_fixo = ""

print(bool(idade))
print(bool(tipo_sangue))
print(bool(filhos))
print(bool(telefone_fixo))
print(bool(telefone_fixo))

True
True
False
False
False